<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> School-Mapping </title>

    <!-- tailwindcdn -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Inside your HTML template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">

</head>
<body class=" min-h-screen bg-gray-300">
    <div>
        <h1> School Mapping </h1>
        <nav>
            <a href="">
                Multiple Uploads
            </a>
            <a href="">
                Single Upload
            </a>
        </nav>
    </div>

</body>
</html>